rholog-*
sim-*
bin/libs
bin/RhoBundle
bin/tmp
bin/target
bin/*.ap_
*.o
*.jar
*.pyc
*.pyc
backend/backend/backend/__pycache__/urls.cpython-36.pyc
backend/backend/backend/__pycache__/settings.cpython-36.pyc
*.pyc
*.xml
*.mp4
*.iml
*.PNG
